<div class="btn-group">
  <button 
    [disabled]="!previous" 
    class="btn btn-primary"
    (click)="onPaginateAction(previous, 1)"
  >
    <div *ngIf="loadingIndicator && btnClick === 1" class="spinner-border spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    Previous
  </button>

  <button 
    [disabled]="!next" 
    class="btn btn-primary"
    (click)="onPaginateAction(next, 2);"
  >
    <div *ngIf="loadingIndicator && btnClick === 2" class="spinner-border spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    Next
  </button>
</div>