
<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-12 d-bloxk d-md-flex justify-md-content-between">
      <h4>Daftar Barang</h4>
      <div class="d-flex justify-content-end gap-3 w-75">
        <input type="text" class="form-control-sm w-50" 
          [(ngModel)]="search" 
          name="search" 
          (keyup.enter)="onList()" 
          placeholder="Search..."
        />
        <select (change)="onList()" class="form-control-sm" name="limit" [(ngModel)]="limit" >
          <option value="1">1 Item</option>
          <option value="5">5 Items</option>
          <option value="10">10 Items</option>
          <option value="20">20 Items</option>
        </select>
        <a [routerLink]="['new']" class="btn btn-primary">Buat Barang</a>
        <button (click)="onList()" class="btn btn-primary">
          refresh
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover table-stripped">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Nama</th>
            <th>Satuan</th>
            <th>Harga Jual</th>
            <th>Stok</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let barang of daftarBarang.results">
            <td>{{ barang.nomor }}</td>
            <td>{{ barang.nama }}</td>
            <td>{{ barang.satuan }}</td>
            <td>{{ barang.hargaJual }}</td>
            <td>{{ barang.stok }}</td>
            <td>
              <div class="d-flex gap-2">
                <app-widget-barang-detail 
                  [id]="barang._id || ''" 
                  (onSuccess)="onSuccessUpdate($event)"
                >
                </app-widget-barang-detail>
                <button (click)="onDelete(barang._id || '')" class="btn btn-outline-danger">
                  Remove
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <app-paging 
                [next]="daftarBarang.next" 
                [previous]="daftarBarang.previous"
                (onPaginate)="onPaginate($event)"
              ></app-paging>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
