
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <h4>Daftar Barang</h4>
      <a [routerLink]="['new']" class="btn btn-primary">Buat Barang</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover table-stripped">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Nama</th>
            <th>Satuan</th>
            <th>Harga Jual</th>
            <th>Stok</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let barang of daftarBarang.results">
            <td>{{ barang.nomor }}</td>
            <td>{{ barang.nama }}</td>
            <td>{{ barang.satuan }}</td>
            <td>{{ barang.hargaJual }}</td>
            <td>{{ barang.stok }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <app-paging 
                [next]="daftarBarang.next" 
                [loadingIndicator]="loadingIndicatorPaging"
                [previous]="daftarBarang.previous"
                (onPaginate)="onPaginate($event)"
              ></app-paging>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
