<div class="container mt-4 mb-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">

      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4>Barang Baru</h4>
          </div>

         <div class="form-group mb-3">
            <label class="mb-2">Nomor</label>
            <input 
              type="text"
              class="form-control"
              [(ngModel)]="barang.nomor"
              #nomor="ngModel"
              name="nomor"
              maxlength="6"
              minlength="6"
              required
            />
            <app-validation [fieldName]="'Nomor'" [ref]="nomor"></app-validation>
          </div>

          <div class="form-group mb-3">
            <label class="mb-2">Nama</label>
            <input 
              type="text"
              class="form-control"
              name="nama"
              [(ngModel)]="barang.nama"
              #nama="ngModel"
              maxlength="100"
              minlength="2"
              required
            />

            <app-validation [fieldName]="'Nama'" [ref]="nama"></app-validation>
          </div>

          <div class="form-group mb-3">
            <label class="mb-2">Satuan</label>
            <input 
              type="text"
              class="form-control"
              name="satuan"
              [(ngModel)]="barang.satuan"
              #satuan="ngModel"
              required
            />
            <app-validation [fieldName]="'Satuan'" [ref]="satuan"></app-validation>
          </div>

          <div class="form-group mb-3">
            <label class="mb-2">Harga Jual</label>
            <input 
              type="text"
              class="form-control"
              name="hargaJual"
              [(ngModel)]="barang.hargaJual"
              #hargaJual="ngModel"
              required
              min="1"
              max="1000"
            />
            <app-validation [fieldName]="'Harga'" [ref]="hargaJual"></app-validation>
          </div>

          <div class="form-group mb-3">
            <label class="mb-2">Stok</label>
            <input 
              type="number"
              class="form-control"
              name="stok"
              [(ngModel)]="barang.stok"
              #stok="ngModel"
              required
              min="1"
              max="10"
            />
            <app-validation [fieldName]="'Stok'" [ref]="stok"></app-validation>
          </div>
        </div>

        <div class="card-footer d-flex gap-3">
          <button (click)="onCreate()" class="btn btn-primary">Simpan</button>
          <a [routerLink]="['..']" class="btn btn-primary">Batal</a>
        </div>
      </div>

    </div>
  </div>
</div>