<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Update {{ customer.nama }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="form-group mb-3">
      <label class="mb-2">Nomor</label>
      <input 
        type="text"
        class="form-control"
        [(ngModel)]="customer.nomor"
        #nomor="ngModel"
        name="nomor"
        maxlength="6"
        minlength="6"
        required
      />
      <div class="text-danger d-flex flex-column" *ngIf="!nomor?.valid && (nomor?.dirty || nomor?.touched)">
        <small>Invalid nomor customer</small>
        <small *ngIf="nomor.errors?.['required']">
          Nomor customer dibutuhkan
        </small>
        <small *ngIf="nomor.errors?.['minlength'] || nomor.errors?.['maxlength']">
          Nomor harus tepat {{ nomor.errors?.['minlength'].requiredLength }} karakter
        </small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label class="mb-2">Nama</label>
      <input 
        type="text"
        class="form-control"
        name="nama"
        [(ngModel)]="customer.nama"
        #nama="ngModel"
        maxlength="100"
        minlength="2"
        required
      />

      <div class="text-danger d-flex flex-column" *ngIf="!nama?.valid && (nama?.dirty || nama?.touched)">
        <small>Invalid nama customer</small>
        <small *ngIf="nama.errors?.['required']">
          Nama barang dibutuhkan
        </small>
        <small *ngIf="nama.errors?.['minlength'] || nama.errors?.['maxlength']">
          Panjang nama harus minimal {{ nama.errors?.['minlength'].requiredLength }} karakters atau  {{ nama.errors?.['maxlength'].requiredLength }} karakter
        </small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label class="mb-2">Alamat</label>
      <textarea 
        class="form-group" 
        name="alamat" 
        [(ngModel)]="customer.alamat"
        #alamat="ngModel"
      ></textarea>
    </div>

    <div class="form-group mb-3">
      <label class="mb-2">Telepon</label>
      <input 
        type="text"
        class="form-control"
        name="telepon"
        [(ngModel)]="customer.telepon"
        #telepon="ngModel"
      />
    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); onUpdate()">Save</button>
	</div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">Ubah</button>
