<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-between">
      <h4>Daftar Order</h4>
      <div class="d-flex justify-content-end gap-3 w-75">
        <input type="text" class="form-control-sm w-50" 
          [(ngModel)]="search" 
          name="search" 
          (keyup.enter)="onList()" 
          placeholder="Search..."
        />
        <select (change)="onList()" class="form-control-sm" name="limit" [(ngModel)]="limit" >
          <option value="1">1 Item</option>
          <option value="5">5 Items</option>
          <option value="10">10 Items</option>
          <option value="20">20 Items</option>
        </select>
        <!-- <app-widget-customer-create
          (onSuccess)="onSuccessCreateCustomer($event)"
        ></app-widget-customer-create> -->
        <button (click)="onList()" class="btn btn-primary">
          refresh
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <table class="table table-bordered table-hover table-stripped">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Tanggal</th>
            <th>Customer</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders.results">
            <td>{{ order.nomor }}</td>
            <td>{{ order.tanggal | date }}</td>
            <td>{{ order.customer.nama }}</td>
            <td>{{ order.total | currency:'IDR':'symbol-narrow' }}</td>
            <td>
              <!-- <app-widget-customer-detail 
                [id]="customer._id || ''"
                (onSuccess)="onSuccessCreateCustomer($event)"
              ></app-widget-customer-detail>
              <button (click)="onDelete(customer._id || '')" class="btn btn-outline-danger">Hapus</button> -->
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <app-paging 
                [next]="orders.next" 
                [previous]="orders.previous"
                (onPaginate)="onPaginate($event)"
              ></app-paging>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>