<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">Menu</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="list-group">
      <a *ngFor="let menu of menus" [routerLink]="[menu.mainPath]" 
        routerLinkActive="active"
        class="list-group-item list-group-item-action">
        {{ menu.title }}
      </a>
    </ul>
	</div>
</ng-template>

<button class="btn btn-outline-primary btn-sm" (click)="open(content)">Menu</button>